<div class="container">
    <div class="container-fluid">
        <div class="page-header">
            <h3>{{title}}</h3>
        </div>
        <!--button
        -->
        <button class="btn btn-primary" (click)="openModal(templateModal)">
          <span class="glyphicon glyphicon-plus-sign"></span>
          Add Data
        </button>
        <!--ngx-template-->
        <ng-template #templateModal>
            <div class="modal-header">
                <button class="close" aria-label="close" (click)="modalref.hide()">
                    <span aria-hidden="true"></span>
                    Close
                </button>
            </div>
            <div class="modal-body">
              <form class="form-horizontal"  (ngSubmit)="onHandlingSubmit()" [formGroup]="categoryForm">
                  <div class="form-group">
                    <label class="col-lg-3 control-label">Name:</label>
                    <div class="col-lg-6">
                        <input type="text" formControlName="name" class="form-control" placeholder="Name"/>
                        <!--validasi-->
                        <label *ngIf="categoryForm.get('name').invalid && processValidation" 
                        [ngClass]="'error'" style="color: crimson"
                        >Name still is null</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-3 control-label">Description:</label>
                    <div class="col-lg-6">
                      <input type="text" formControlName="description" class="form-control" name="Description"/>
                      <label *ngIf="categoryForm.get('description').invalid && processValidation" [ngClass]="'error'"
                      style="color: crimson">Description still is null</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-3 control-label">Status :</label>
                    <div class="col-lg-6">
                        <select class="form-control" formControlName="active">
                            <option value="true">true</option>
                            <option value="false">false</option>
                        </select>
                        <label *ngIf="categoryForm.get('description').invalid && processValidation" 
                        [ngClass]="'error'" style="color: crimson">Status still is null</label>
                    </div>
                  </div>
                  <div class="modal-footer">
                      <button class="btn btn-danger" (click)="modalref.hide()">
                          <span class="glyphicon glyphicon-refresh"></span>
                          Cancel
                      </button>
                      <button  *ngIf="!IdCategoryToUpdate" class="btn btn-primary">
                          <span class="glyphicon glyphicon-save"></span>
                          Saved
                      </button>
                      <button *ngIf="IdCategoryToUpdate" class="btn btn-success">
                          <span class="glyphicon glyphicon-pencil"></span>
                          Update
                      </button>
                  </div>
              </form>  
            </div>
        </ng-template>
      <div class="page-header">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>ID Category</th>
                    <th>name</th>
                    <th>description</th>
                    <th>status</th>
                    <th>opsi</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cat of categorys | paginate: {itemsPerPage: 5, currentPage: p}">
                <td>{{cat.idcategory}}</td>
                <td>{{cat.name}}</td>
                <td>{{cat.description}}</td>
                <td>{{cat.active}}</td>
                <td>
                  <button (click)="getEditCategory(cat.idcategory) || 
                  openModal(templateModal)" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Update
                  </button>
                  <button (click)="getDeleteCategory(cat.idcategory)" class="btn btn-default">
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>ID Category</th>
                    <th>name</th>
                    <th>description</th>
                    <th>status</th>
                    <th>opsi</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-lg-offset-4">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
</div>
